In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import pickle

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from gensim.models import Word2Vec

In [2]:
with open('preprocessing.pickle', 'rb') as f:
    combine_df = pickle.load(f)

In [3]:
combine_df.head(2)

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.  
    • Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.  
    • Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.  
    • Исключим стоп-слова с помощью stop_words='english'.  
    • Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [4]:
count_vectorizer = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [5]:
tweet_stemmed = combine_df['tweet_stemmed'].apply(lambda x: ' '.join(x))

In [6]:
bow_tweet_stemmed = count_vectorizer.fit_transform(tweet_stemmed)

In [7]:
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bow_tweet_stemmed.toarray(), columns = feature_names).head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
tweet_lemmatized = combine_df['tweet_lemmatized'].apply(lambda x: ' '.join(x))
bow_tweet_lemmatized = count_vectorizer.fit_transform(tweet_lemmatized)

In [9]:
pd.DataFrame(bow_tweet_lemmatized.toarray(), columns = feature_names).head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.  
    • Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.  
    • Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.  
    • Исключим стоп-слова с помощью stop_words='english'.  
    • Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [10]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [11]:
bow_tfidf_tweet_stemmed = tfidf_vectorizer.fit_transform(tweet_stemmed)

In [12]:
tfidf_feature_names = tfidf_vectorizer.get_feature_names()

In [13]:
pd.DataFrame(bow_tfidf_tweet_stemmed.toarray(), columns = tfidf_feature_names).head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
bow_tfidf_tweet_lemmatized = tfidf_vectorizer.fit_transform(tweet_lemmatized)

In [15]:
pd.DataFrame(bow_tfidf_tweet_lemmatized.toarray(), columns = tfidf_feature_names).head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
len(tfidf_vectorizer.vocabulary_.keys())

1000

3. Натренируем gensim.models.Word2Vec модель на наших данных.  
    • Тренировать будем на токенизированных твитах combine_df['tweet_token']  
    • Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.  
    • Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [17]:
from multiprocessing import cpu_count

In [18]:
data = combine_df['tweet_token'].tolist()

In [19]:
model = Word2Vec(data, size=200, window=5, min_count=2, sg=1, hs=0, negative=10, workers=cpu_count(), seed=34)

In [20]:
total_examples = len(data)

In [21]:
model.train(data, total_examples=total_examples, epochs=20)

(9143640, 11727080)

4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

In [22]:
model.most_similar(positive='dinner')

[('bolognese', 0.5427737236022949),
 ('cookout', 0.5351123809814453),
 ('tacotuesday', 0.5324593782424927),
 ('spaghetti', 0.5270717740058899),
 ('bihdaydinner', 0.5242348909378052),
 ('whoopppp', 0.5176699757575989),
 ('waterloo', 0.5161679983139038),
 ('sissy', 0.5161158442497253),
 ('lastnight', 0.5091630816459656),
 ('shawarma', 0.5057678818702698)]

In [23]:
model.most_similar(positive='trump')

[('donald', 0.5439764857292175),
 ('suppoer', 0.5392320156097412),
 ('donaldtrump', 0.5223841667175293),
 ('trumptrain', 0.5151859521865845),
 ('dumptrump', 0.514894425868988),
 ('melo', 0.5081230401992798),
 ('unfit', 0.5064612627029419),
 ('impeachment', 0.5017700791358948),
 ('fuhered', 0.4968169927597046),
 ('racists', 0.4946913421154022)]

5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).  
Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

In [24]:
model['food']

array([-9.30584431e-01,  1.11969143e-01,  2.27663711e-01,  1.36949226e-01,
       -8.94198954e-01, -2.40597427e-02, -6.87398136e-01, -2.54932463e-01,
       -8.63691568e-01, -1.11899182e-01,  2.02718943e-01, -6.14823520e-01,
       -1.33982047e-01,  3.94356400e-01,  6.26177639e-02,  2.67350763e-01,
        3.82392585e-01, -1.08497227e-02,  3.14870477e-02,  2.95586258e-01,
        2.08054595e-02,  2.69236386e-01, -1.97755918e-01, -1.19842462e-01,
        3.46932232e-01,  1.92675382e-01, -3.09269428e-01,  1.61218271e-01,
        1.31496517e-02,  1.11543685e-01,  4.36970770e-01, -6.85631573e-01,
       -4.34368908e-01,  7.33920932e-02,  7.81670585e-02, -1.25574041e-02,
       -6.20172560e-01, -7.94012547e-02, -8.61828029e-01, -4.30676877e-01,
        7.49953538e-02, -3.10746551e-01,  3.16640556e-01,  2.83105761e-01,
       -5.87286018e-02,  5.90844274e-01, -1.95918754e-01,  1.26028925e-01,
        2.16759164e-02, -9.89352167e-02,  2.06123754e-01, -2.21313119e-01,
       -5.75567260e-02,  6.36828482e-01,  4.50910866e-01, -4.69605297e-01,
        5.87306857e-01, -3.56362522e-01, -5.49825370e-01,  3.36189359e-01,
        2.91545808e-01, -1.94431677e-01,  2.96247095e-01, -6.00959361e-01,
       -5.68396524e-02, -5.04086792e-01, -6.77277669e-02,  1.70035809e-01,
       -3.71502310e-01,  4.85891581e-01, -5.02559304e-01,  4.50020693e-02,
       -1.50090426e-01,  5.63028514e-01,  7.15396134e-04,  4.55688834e-02,
       -7.43948758e-01, -9.93218943e-02,  3.10642421e-01, -7.79242590e-02,
        2.65942782e-01,  6.33792281e-01, -2.64117718e-02, -4.81581539e-01,
       -2.17407003e-01,  9.64194477e-01, -2.94221640e-01, -5.79546511e-01,
       -2.75709331e-01,  3.19113173e-02,  4.18875307e-01,  2.70589113e-01,
       -7.19243437e-02, -3.82353991e-01, -1.25379607e-01, -7.85478204e-02,
       -2.56192565e-01, -5.52726425e-02, -1.43364027e-01, -4.73292708e-01,
       -7.70786032e-02, -4.61103350e-01, -5.80081224e-01, -9.40216798e-03,
        1.20068461e-01, -4.02209550e-01,  2.32869670e-01, -2.47258931e-01,
        9.80613008e-02,  4.88608927e-01, -8.72357070e-01,  1.89530894e-01,
        9.27042246e-01,  6.26749575e-01, -5.38635440e-02,  3.44051629e-01,
        1.75501108e-01,  3.05706292e-01,  4.28245813e-01,  2.90086955e-01,
       -2.48827785e-01, -3.94330829e-01, -5.74303009e-02,  2.95077860e-01,
        8.51127431e-02, -2.67943531e-01, -7.91693758e-03,  4.35050800e-02,
       -7.06207514e-01,  3.50454718e-01,  7.06861377e-01, -1.87937424e-01,
       -4.52596694e-01,  2.63738465e-02, -2.88120061e-01, -6.21534646e-01,
       -3.43072444e-01,  3.26551870e-02, -1.30322307e-01, -3.34720135e-01,
       -4.52156253e-02,  2.10114509e-01,  2.60178447e-01, -1.47359085e+00,
       -3.80882978e-01,  1.36107236e-01,  1.07302323e-01, -4.30884898e-01,
        1.36067033e-01,  1.53790951e-01, -5.49921393e-01, -7.46789753e-01,
       -5.40477991e-01, -5.09616658e-02, -1.95043087e-01, -1.80658475e-01,
        3.28184724e-01, -7.23575711e-01, -5.26065528e-01, -3.92984301e-01,
        1.62838940e-02,  1.40286088e-01, -6.87638044e-01,  9.01813805e-02,
        1.00057101e+00,  4.20792162e-01,  2.54894495e-01,  2.72946030e-01,
        4.38641965e-01, -8.16925913e-02,  3.08832735e-01,  2.19929107e-02,
       -7.20083937e-02, -7.87116364e-02,  1.81753427e-01,  4.00259227e-01,
       -5.49253941e-01,  4.63310301e-01, -4.25623953e-01, -4.03615683e-01,
        6.01509288e-02,  7.14163125e-01,  5.49927950e-01, -4.89735842e-01,
       -5.34362555e-01, -1.10133541e+00, -2.03985915e-01, -6.83400273e-01,
        2.55607963e-01,  1.14207946e-01,  5.11950135e-01, -5.55952825e-03,
       -8.14353466e-01,  9.15509343e-01, -1.21661544e+00, -3.99886101e-01,
       -2.03785188e-02, -9.43145826e-02, -6.29340351e-01,  6.86106831e-02],
      dtype=float32)

6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.  
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.  
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [27]:
wordvec_df = np.zeros((total_examples, 200))
for i, tweet in enumerate(combine_df.tweet_token):
    vec = np.zeros((1, 200))
    count = 0
    for word in tweet:
        try:
            vec += model[word].reshape((1, 200))
            count += 1
        except:               # ловим слова, которые встречаются менее заданного количества раз и поэтому отсутствуют в словаре модели
            continue
    if count != 0:
        vec /= count
    else:
        print(tweet)
    wordvec_df[i] = vec

['friendszxc']
['lalienmorfi', 'greciaaaa']
['fuccckkkkkkkkk']
[]
[]
['prettyboy', 'mca', 'mulan']
['diasoleado', 'buquiinsigniac', 'homecenter', 'calle']
['swheeet']
['okaaaay']
['spoketokat', 'heisinchennai', 'oneproblem', 'katstoofar', 'ihatesurprises']
['neeecxttt', 'stuttgaopen']
['triplecatbox']
['siestas', 'morrocotudas', 'iscle', 'somdecamp', 'luisito']
['wasmadwasibnoworsteverws']
['stfuuuuu']
['knittin', 'agin']
['marycoyleicecreamtruck', 'youscreamwescream']
['birbdayforme']
['miercoles', 'almaltiempobuenacara', 'acurrar', 'orense']
['spizza', 'sweekend']

In [28]:
wordvec_df

array([[-3.39866092e-04, -8.87259657e-02, -1.66190666e-01, ...,
         1.19038989e-01,  1.06466737e-01,  3.25999053e-01],
       [ 7.11139771e-02, -1.07351218e-01, -1.94380078e-01, ...,
         9.13786325e-02,  1.26225847e-02,  3.03243314e-01],
       [ 2.44680566e-01, -7.36488650e-02,  3.84691303e-01, ...,
         2.86617540e-01, -1.19043658e-01,  2.85628060e-01],
       ...,
       [ 6.59545430e-02, -1.58236549e-02,  1.19168663e-01, ...,
         1.79828281e-01,  1.30912592e-01,  5.63268702e-01],
       [-4.86129227e-01,  3.08297821e-01, -4.61346751e-02, ...,
         2.24916219e-01,  7.69850452e-01,  5.36964521e-01],
       [-1.31272233e-01,  1.19318794e-02,  1.39874651e-02, ...,
         3.93878480e-01, -1.42077405e-01,  3.45445104e-01]])

In [29]:
wordvec_df.shape

(49159, 200)